:root {
  --brand-color: #eac04e;
  --dark-color: #160c28;
  --mid-color: #473d5a;
  --light-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mid-color);
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--dark-color);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: var(--brand-color);
  padding: 2em 0 1em 0;
}

.header-img {
  width: 100px;
  margin-right: 0.5em;
  border-radius: 10%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.links a {
  margin: 0.5em;
  background-color: var(--brand-color);
  text-decoration: none;
  color: var(--mid-color);
  padding: 0.5em 1em;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2em;
}
.links a:hover {
  background-color: var(--dark-color);
  color: var(--brand-color);
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width:60%;
  margin: 2em auto;
}

.triangle,
.hypotenuse,
.area,
.guessAngle {
  flex: 50%;
  padding: 2rem;
  font-size: 1.5rem;
  background-color: #beb7df;
  color: #34113f;
  text-align: center;
  border-radius: 5px;
  margin: 0.5em 0.5em 0.5em 0.5em;
}

input {
  border: none;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  font-weight: 900;
  font-size:1rem;
  color: black;
  border-radius: 5px;
}

button {
  border: none;
  background-color: #160c28;
  color: #beb7df;
  padding: 0.5em 1em;
  margin: 0 auto;
  font-size: 1rem;
  display: block;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #554479;
}

.angle,
.generateangles {
  display: block;
  margin: 0.5em auto;
}

.triangle_result,
.hypotenuse_result,
.area_result,
.guess_angle_result {
  padding: 1em;
  font-size: 1rem;
  background-color: #aba9bf;
  margin: 0.5em;
  color: green;
  border-radius: 5px;
  display: none;
}

.triangleQuiz {
  background-color: #aa97d4 !important;
  font-size: 1rem !important;
}

.quiz {
  background-color: #aa97d4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.8rem;
  border-radius: 6px;

  width: 90%;
  margin: 0.5em auto;
  padding: 1em;
}

.question {
  background-color: #786995;
  margin: 0.5em 0;
  padding: 1em;
  border-radius: 3px;
  color: #160c28;

}
